aws_region   = "us-east-1"
project_name = "novapay"

vpc_cidr            = "10.0.0.0/16"
public_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24"]
app_subnet_cidrs    = ["10.0.11.0/24", "10.0.12.0/24"]
data_subnet_cidrs   = ["10.0.21.0/24", "10.0.22.0/24"]
availability_zones  = ["us-east-1a", "us-east-1b"]

eks_cluster_version    = "1.34"
eks_node_instance_type = "t3.small"
eks_node_desired_size  = 2
eks_node_min_size      = 2
eks_node_max_size      = 3

rds_instance_class = "db.t3.micro"
rds_username       = "novapay"
rds_password       = "your-password-here"

redis_node_type = "cache.t4g.micro"
