NODE_ENV=development
PORT=3002

DATABASE_URL=postgresql://novapay:novapay_secret@localhost:5432/novapay?schema=account

REDIS_URL=redis://:redis_secret@localhost:6379

# URL của auth-service để verify token
AUTH_SERVICE_URL=http://localhost:3001

INTERNAL_SECRET=your_internal_secret_here
