NODE_ENV=development
PORT=3003

DATABASE_URL=postgresql://novapay:novapay_secret@localhost:5432/novapay?schema=transaction

AUTH_SERVICE_URL=http://localhost:3001
ACCOUNT_SERVICE_URL=http://localhost:3002
NOTIFICATION_SERVICE_URL=http://localhost:3004

INTERNAL_SECRET=your_internal_secret_here
